<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/03CorePythonLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
str=input("Enter the City Name:").lower()
print(str)
if(str=="delhi"):
    print("Red Fort")
elif(str=="agra"):
    print("Taj Mahal")
elif(str=="jaipur"):
    print("Jal Mahal")
else:
  print("Thank you for your Enquiry, visit India again!!")
print("Visit India Again!")

Enter the City Name:Agra
agra
Taj Mahal
Visit India Again!

Nested if

```
# This is formatted as code
```

In [6]:
num=int(input("Enter the Number Greater than 500:"))
if(num>500):
  print("Number is Greater than 500")
  if(num==600):
    print("Number is 600")
  elif(num==650):
    print("Number is 650")
  elif(num==700):
    print("Number is 700")
  else:
    print("Number is not 600,650,700")
else:
  print("Number is not Greater than 500")

Enter the Number Greater than 500:550
Number is Greater than 500
Number is not 600,650,700

In [16]:
print("Lets check your if concepts!")
num=int(input("Enter the number:"))
if(num%3==0):
  #print("Number is Divisible by 3 only")
  if(num%5==0):
    print("Number is Divisible by 5 and 3")
  else:
    print("Number is Divisible by 3 only")
else:
  if(num%5==0):
    print("Number is Divisible by 5 only")
  else:
    print("Number is not Divisible by 3 and 5")
print("Happy Coding!")

Lets check your if concepts!
Enter the number:2
Number is not Divisible by 3 and 5
Happy Coding!

In [19]:
print("Lets check your if concepts!")
num=int(input("Enter the number:"))
if num%3==0 and num%5==0:
  print("Number is Divisible by 3 and 5")
elif num%3==0:
  print("Number is Divisible by 3 only")
elif num%5==0:
  print("Number is Divisible by 5 only")
else:
  print("Number is not Divisible by 3 and 5")
print("Happy Coding!")

Lets check your if concepts!
Enter the number:60
Number is Divisible by 3 and 5
Happy Coding!

Control Statement

In [23]:
for i in range(1,11):
  #from i from 1 and less than 11
  #if you want to have a similar output(0,10)
  print("*",range(i))

* range(0, 1)
* range(0, 2)
* range(0, 3)
* range(0, 4)
* range(0, 5)
* range(0, 6)
* range(0, 7)
* range(0, 8)
* range(0, 9)
* range(0, 10)

In [27]:
#print odd numbers from 1 to 10
for i in range(1,10,2):
  print(i)

#print even numbers from 1 to 10
for i in range(2,11,2):
  print(i)

1
3
5
7
9
2
4
6
8
10

In [37]:
for i in range(0,11):
  print(i,i*i)
  #print("another way of printing square")
  print(i,i**2)

0
0 0
1
1 1
4
2 4
9
3 9
16
4 16
25
5 25
36
6 36
49
7 49
64
8 64
81
9 81
100
10 100

In [38]:
for i in range(0,31,5):
  print(i,"@")

0 @
5 @
10 @
15 @
20 @
25 @
30 @

In [40]:
str1="SCIENCE"
for i in str1:
  print(i)

S
C
I
E
N
C
E

In [46]:
name1="Preeti "
for i in range(1,5):
  print(name1*i)

Preeti
Preeti Preeti
Preeti Preeti Preeti
Preeti Preeti Preeti Preeti

In [49]:
name2="Ronghe "
for i in range(2,7):
  x=(name2+"")*i
  print(x)

Ronghe Ronghe
Ronghe Ronghe Ronghe
Ronghe Ronghe Ronghe Ronghe
Ronghe Ronghe Ronghe Ronghe Ronghe
Ronghe Ronghe Ronghe Ronghe Ronghe Ronghe

In [50]:
n="*"
for i in(range(1,6)):
  print(n*i)

*
**
***
****
*****

In [57]:
movie="Drishyam"
for i in movie:
  #print(i)
 # print(i.upper())
 # print(i.lower(),end="")
 #print(i.lower(),end=" ")
  print(i,end="  ")

D  r  i  s  h  y  a  m

In [58]:
for i in range(1,11):
  if(i%2==0):
    print(i,"is Even")
  else:
    print(i,"is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even

In [67]:
print("Even Number")
for i in range(1,11):
  if(i%2==0):
    print(i,end=" ")
print("\nOdd Number")
for i in range(1,11):
  if(i%2!=0):
    print(i,end=" ")
print(i,"\nIs Zero")

Even Number
2 4 6 8 10
Odd Number
1 3 5 7 9 10
Is Zero

In [60]:
for x in range(10,2,-1):
  print(x)

10
9
8
7
6
5
4
3

In [61]:
len("Preeti")

6

In [62]:
len("Preeti ")

7