<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/20Nov_VAC_DS_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#operator is a symbol is used to write an equation
#Arithematic operators(+,-,*,/,%,**)

In [11]:
var1=32
var2=55
print("addition:",var1+var2)
print("subtraction:",var1-var2)
print("multiplication:",var1*var2)
print("division:",var1/var2)
print("Floor Division:",var1//var2)

addition: 87
subtraction: -23
multiplication: 1760
division: 0.5818181818181818
Floor Division: 0

In [12]:
print("Modulus/Remainder:",var1%var2)

Modulus/Remainder: 32

In [7]:
var1=3
var2=7
print("exponent:",var1**var2)

exponent: 2187

In [ ]:
#output is always in numeric form

In [1]:
num1 = 500
num2 = 600
#im looking for equal value
print(num1==num2)
#im looking for not equal value
print(num1!=num2)
#num1 greater than num2
print(num1>num2)#
#num2 greater than num1
print(num1<num2)#

False
True
False
True

In [2]:
num1 = 600
num2 = 600
print(num1==num2)#either greater or equal
print(num1==num2)#either lesser or equal

True
True

In [2]:
num1 = 600
num2 = 600
print(num1>=num2)#either greater or equal
print(num1<=num2)#either lesser or equal

True
True

Assignment Operator

In [5]:
a=12
b=45
a=a+b
print(a) #a has the sum of a&b
a+=b
print(a)

57
102

#When we want to store the result int he variable itself then we use assignment operator
#1.left hand side mention the variable that stores the result
#2.use = sign with arithmetic operation Symbol
#3.Mention either another variable or directly write the number

#a+=b
#a**=b
#a/=b
#a-=b

In [7]:
var1=5
var2=6
var2=var1**var2
print(var2)
var2**=var1
print(var2)

15625
931322574615478515625

Logical operator works with conditions
and
or
not

In [11]:
print(4>5)
print(10>9)
#alll conditions combined
print( 4>5 and 10>9)

False
True
False

In [12]:
print(100>6 and 300==300 and 9>30)

False

In [10]:
print(100>6)
print(300==300)
print(9>30)
#all conditions combined
print(100>6 or 300==300 or 9>30)

True
True
False
True

In [13]:
print(not(100>6 or 300==300 or 9>30))

False

In [14]:
#bitwise operator
a=3
b=5
print(bin(a))
print(bin(b))

0b11
0b101

In [16]:
print(a&b)
#011
#and on 101
#001
print(a|b)
#011
#or on 101
#111

1
7

In [17]:
print("Preeti")
print("R")

Preeti
R

In [19]:
a=77
print(a%2)

1

In [20]:
if False:
  print("Hi")
else:
  print("Bye")

Bye

In [21]:
#check if number is positive or negative or zero
num=-5
if num>=0:
  if num==0:
    print("Zero")
  else:
    print("Positive")
else:
  print("Negative")

Negative

In [22]:
num=5
if num>=0:
  if num==0:
    print("Zero")
  else:
    print("Positive")
else:
  print("Negative")

Positive

In [23]:
#login
username="Pree"
password="idontknow"
if username=="Pree":
  print("Logged in")
else:
    print("invalid username")

Logged in

In [24]:
username="Pree"
password="idontknow"
if username=="Pree":
  if password=="idontknow":
   print("Logged in Successfully!!")
  else:
    print("Wrong Password")
else:
    print("invalid username")

Logged in Successfully!!

In [26]:
a=100
print(a)
a=0
print(a)

100
0

In [29]:
num =56
if num <0 or num>100:
  print("numbi is in range")
elif num>=90:
  print("Grade A")
elif num>=75:
  print("Grade B")
elif num>=60:
  print("Grade C")
elif num>=40:
  print("Grade D")
else:
  print("fail")

Grade D