<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/Day06CorePython_Dictionary_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Dictionary: Mutable datatype
#holds heterogeneous values
capital_dict={"India":"New Delhi","Nepal":"Kathmandu","Italy":"Rome","England":"London"}
print(capital_dict)
print(type(capital_dict))

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}
<class 'dict'>

In [2]:
dir(capital_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
capital_dict.keys()

dict_keys(['India', 'Nepal', 'Italy', 'England'])

In [4]:
capital_dict.values()

dict_values(['New Delhi', 'Kathmandu', 'Rome', 'London'])

In [6]:
capital_dict.items()

dict_items([('India', 'New Delhi'), ('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])



1.'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

In [9]:
#There are multiple ways of adding elements to a new dictionary
#Way 1. Create a new Dictionary and then add the elements from it to old dictionary
add_capitals={"Japan":"Tokyo","Germany":"Berlin"}
#The Dictionary that you eant to update is written first followed by dictionary want to update from
capital_dict.update(add_capitals)
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris'}

In [10]:
#Way 2- Use Update to add elements
capital_dict.update({"France":"Paris"})
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris'}

In [11]:
#way 3- add multiple values
capital_dict.update({"USA":"Washington DC", "UK":"London"})
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris', 'USA': 'Washington DC', 'UK': 'London'}

In [12]:
#pop() method removes the key value for which you have passed the key
capital_dict.pop("USA")
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris', 'UK': 'London'}

In [14]:
#in Dictionary you can only  change the values associated with the key and not the key
capital_dict["England"]="UK"
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'UK', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris', 'UK': 'London'}

In [15]:
capital_dict

{'India': 'New Delhi',
 'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'UK',
 'Japan': 'Tokyo',
 'Germany': 'Berlin',
 'France': 'Paris',
 'UK': 'London'}

In [16]:
capital_dict.popitem()
#removes the last element from the list

('UK', 'London')

In [17]:
capital_dict

{'India': 'New Delhi',
 'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'UK',
 'Japan': 'Tokyo',
 'Germany': 'Berlin',
 'France': 'Paris'}

In [36]:
#Dictionary Values can store differnt Datastructures within it, like Tuples, Dictionary and list
mylist=[1,2,3,4,5]
mytuple=("mango","Banana","Chickoo","Pomogranate")

In [37]:
mydict={"A":mylist,"B":mytuple,"C":capital_dict}
print(mydict)

{'A': [1, 2, 3, 4, 5], 'B': ('mango', 'Banana', 'Chickoo', 'Pomogranate'), 'C': {'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'UK', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris'}}

In [38]:
mydict['A']

[1, 2, 3, 4, 5]

In [39]:
len(mydict)

3

In [40]:
len(mydict['A'])

5

In [41]:
mydict['A'][2]

3

In [42]:
mydict['B'][-1]

'Pomogranate'

In [43]:
mydict['B'][0]

'mango'

In [44]:
mydict['B'][9]
#The element doesnt exists

IndexError: tuple index out of range

In [45]:
mydict['C']["India"]

'New Delhi'

In [35]:
mydict.clear()
#Clears the Content from the Dicitionary



> Add blockquote

In [ ]:
Libraries

In [46]:
#Libraries
  #math- Mathematical functions
  #numpy-Mathematical functions
  #pandas -- Data Manipulation commands
  #matplotlib.pyplot - Visulaization
  #seaborn- Visualization an attractive version of matplotlib

In [47]:
sqrt(25)

NameError: name 'sqrt' is not defined

In [48]:
from math import sqrt
sqrt(64)

8.0

In [49]:
factorial(6)

NameError: name 'factorial' is not defined

In [52]:
from math import factorial,sqrt,sin
print(factorial(5))
print(sqrt(49))
print(sin(0))

120
7.0
0.0

In [55]:
#to import all libraries/functions from Math Library
from math import *
list1=[2,3,5]
prod(list1)
#in this case the syntax is function name follwed by parameter or variable or pass argument to the function

30

In [56]:
import math
tup1=(1,2,3,4,5)
print(math.prod(tup1))

120

In [57]:
import math as mt
list1=[1,2,3,4,5,6]
print(mt.prod(list1))
print(mt.sqrt(list1[0]))
print(mt.sqrt(list1[1]))
print(mt.sqrt(list1[2]))
print(mt.sqrt(list1[3]))
print(mt.sqrt(list1[4]))
print(mt.sqrt(list1[5]))

720
1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178

In [58]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [60]:
#loop Control statement
#Continue - when a particular continion is satisfied
#break - when we want to forcefully terminate the logical flow of statements, when the condition statement is satisfied the loop is broken and the execution stops
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [70]:
#from ast import Continue
#The continue statement in Python is a control flow statement that is used inside loops (like for or while loops). When continue is encountered, it immediately stops the current iteration of the loop and moves on to the next iteration. Any code following the continue statement within that loop iteration will be skipped. It's useful when you want to skip certain parts of a loop's processing based on a condition, but still want the loop to proceed with subsequent iterations.
for i in range(1,11):
    if (i==5):
        continue
        #print("iteration has been skipped")
    print(i)

1
2
3
4
6
7
8
9
10

In [73]:
for i in range(1,11):
    if (i==5):
        print("iteration has been skipped")
        continue
    print(i)
    if(i==7):
      break

1
2
3
4
iteration has been skipped
6
7

In [ ]:
#Set Data Structure - Unordered collection of elements
#it maintains unique values
#sets are mutable
#Sets are created using curly bracket

In [74]:
set1={1,2,3,4,5,6,7}
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [75]:
#create set using builtin function and then pass list to it
set2=set([1,2,3,4,5])
print(set2)

{1, 2, 3, 4, 5}

In [76]:
#create set using builtin function and then pass list to it
set3=set((1,2,3,4,5))
print(set3)

{1, 2, 3, 4, 5}

In [77]:
set4 ={1,1,2,3,4,5,6,6,7,4,8,9,10}
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [79]:
#set can Contains elements of different datatypes like, int float string and tuples which are immutable within them.
set5={1,2.5,"hello",(2,3,4)}
print(set5)

{1, 2.5, (2, 3, 4), 'hello'}

In [80]:
set65={1,2.5,"hello",[2,3,4]}
print(set65)

TypeError: unhashable type: 'list'

In [81]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

'add',
'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update'

In [83]:
#add(): add Single element
#update(): multiple elements can be added
data={12,23,11,11,67,86,76,33}
print(data)

{33, 67, 86, 23, 11, 12, 76}

In [84]:
data.add(12)
#doesnt give error or even the oelement will be added

In [87]:
data.add(100)
print(data)

{33, 67, 100, 86, 23, 11, 12, 76}

In [88]:
data.add(900)
print(data)

{67, 900, 11, 12, 76, 86, 23, 33, 100}

In [89]:
data.update([100,200,300])
print(data)

{67, 900, 200, 11, 12, 76, 86, 23, 33, 100, 300}

In [90]:
data.update((1,2,3))
print(data)

{1, 2, 67, 900, 3, 200, 11, 12, 76, 86, 23, 33, 100, 300}

In [91]:
data.remove(77)
print(data)

KeyError: 77

In [95]:
print(data)
data.remove(3)
print(data)

{1, 2, 67, 900, 3, 200, 11, 12, 76, 86, 23, 100, 300}
{1, 2, 67, 900, 200, 11, 12, 76, 86, 23, 100, 300}

In [96]:
data

{1, 2, 11, 12, 23, 67, 76, 86, 100, 200, 300, 900}

In [100]:
data.discard(50)
print(data)

{1, 2, 67, 900, 200, 11, 12, 76, 86, 23, 100, 300}

In [103]:
data

{1, 2, 11, 12, 23, 67, 76, 86, 100, 200, 300, 900}

In [104]:
data.dicard(900)
print(data)

AttributeError: 'set' object has no attribute 'dicard'

In [105]:
data

{1, 2, 11, 12, 23, 67, 76, 86, 100, 200, 300, 900}

In [106]:
data.pop()

1

In [107]:
data

{2, 11, 12, 23, 67, 76, 86, 100, 200, 300, 900}

In [108]:
my_set={1,2,3,4,5,6}
if 2 in my_set:
  print("2 is present in the set")
else:
  print("2 is not present in the set")

2 is present in the set

In [113]:
my_set={1,2,3,4,5,6}
i=int(input("Enter the element to check: "))
if i in my_set:
  print(i," is present in the set")
else:
  print(i," is not present in the set")

Enter the element to check: 8
8  is not present in the set