<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/Day06CorePython_Dictionary_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Dictionary: Mutable datatype
#holds heterogeneous values
capital_dict={"India":"New Delhi","Nepal":"Kathmandu","Italy":"Rome","England":"London"}
print(capital_dict)
print(type(capital_dict))

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}
<class 'dict'>

In [2]:
dir(capital_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
capital_dict.keys()

dict_keys(['India', 'Nepal', 'Italy', 'England'])

In [4]:
capital_dict.values()

dict_values(['New Delhi', 'Kathmandu', 'Rome', 'London'])

In [6]:
capital_dict.items()

dict_items([('India', 'New Delhi'), ('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])



1.'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

In [9]:
#There are multiple ways of adding elements to a new dictionary
#Way 1. Create a new Dictionary and then add the elements from it to old dictionary
add_capitals={"Japan":"Tokyo","Germany":"Berlin"}
#The Dictionary that you eant to update is written first followed by dictionary want to update from
capital_dict.update(add_capitals)
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris'}

In [10]:
#Way 2- Use Update to add elements
capital_dict.update({"France":"Paris"})
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris'}

In [11]:
#way 3- add multiple values
capital_dict.update({"USA":"Washington DC", "UK":"London"})
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris', 'USA': 'Washington DC', 'UK': 'London'}

In [12]:
#pop() method removes the key value for which you have passed the key
capital_dict.pop("USA")
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris', 'UK': 'London'}

In [14]:
#in Dictionary you can only  change the values associated with the key and not the key
capital_dict["England"]="UK"
print(capital_dict)

{'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'UK', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris', 'UK': 'London'}

In [15]:
capital_dict

{'India': 'New Delhi',
 'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'UK',
 'Japan': 'Tokyo',
 'Germany': 'Berlin',
 'France': 'Paris',
 'UK': 'London'}

In [16]:
capital_dict.popitem()
#removes the last element from the list

('UK', 'London')

In [17]:
capital_dict

{'India': 'New Delhi',
 'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'UK',
 'Japan': 'Tokyo',
 'Germany': 'Berlin',
 'France': 'Paris'}

In [36]:
#Dictionary Values can store differnt Datastructures within it, like Tuples, Dictionary and list
mylist=[1,2,3,4,5]
mytuple=("mango","Banana","Chickoo","Pomogranate")

In [37]:
mydict={"A":mylist,"B":mytuple,"C":capital_dict}
print(mydict)

{'A': [1, 2, 3, 4, 5], 'B': ('mango', 'Banana', 'Chickoo', 'Pomogranate'), 'C': {'India': 'New Delhi', 'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'UK', 'Japan': 'Tokyo', 'Germany': 'Berlin', 'France': 'Paris'}}

In [38]:
mydict['A']

[1, 2, 3, 4, 5]

In [39]:
len(mydict)

3

In [40]:
len(mydict['A'])

5

In [41]:
mydict['A'][2]

3

In [42]:
mydict['B'][-1]

'Pomogranate'

In [43]:
mydict['B'][0]

'mango'

In [44]:
mydict['B'][9]
#The element doesnt exists

IndexError: tuple index out of range

In [45]:
mydict['C']["India"]

'New Delhi'

In [35]:
mydict.clear()
#Clears the Content from the Dicitionary



> Add blockquote

In [ ]:
Libraries

In [46]:
#Libraries
  #math- Mathematical functions
  #numpy-Mathematical functions
  #pandas -- Data Manipulation commands
  #matplotlib.pyplot - Visulaization
  #seaborn- Visualization an attractive version of matplotlib

In [47]:
sqrt(25)

NameError: name 'sqrt' is not defined

In [48]:
from math import sqrt
sqrt(64)

8.0

In [49]:
factorial(6)

NameError: name 'factorial' is not defined

In [52]:
from math import factorial,sqrt,sin
print(factorial(5))
print(sqrt(49))
print(sin(0))

120
7.0
0.0

In [55]:
#to import all libraries/functions from Math Library
from math import *
list1=[2,3,5]
prod(list1)
#in this case the syntax is function name follwed by parameter or variable or pass argument to the function

30

In [56]:
import math
tup1=(1,2,3,4,5)
print(math.prod(tup1))

120

In [57]:
import math as mt
list1=[1,2,3,4,5,6]
print(mt.prod(list1))
print(mt.sqrt(list1[0]))
print(mt.sqrt(list1[1]))
print(mt.sqrt(list1[2]))
print(mt.sqrt(list1[3]))
print(mt.sqrt(list1[4]))
print(mt.sqrt(list1[5]))

720
1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178