<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/Day07CorePython_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#set Operation
#Union()
set1={"English","Hindi", "Marathi"}
set2={"Tamil","French","English"}
#set3=set1.union(set2)
set3=set2|set1
print("Output of Union:-->",set3)
#Intersection()
set1={"English","Hindi", "Marathi"}
set2={"Tamil","French","English","Hindi"}
set4=set1.intersection(set2)
print("Output of intersection:-->",set4)
#Difference()
set1={"English","Hindi", "Marathi"}
set2={"Tamil","French","English"}
set5=set1.difference(set2)
set6=set2.difference(set1)
print("Output of Set Difference:-->",set5)
print(set6)
#Symmetric_difference()
set1={"English","Hindi", "Marathi"}
set2={"Tamil","French","English"}
set7=set1.symmetric_difference(set2)
print("Output of Symmetric Difference:-->",set7)
#issubset()
set1={"English","Hindi", "Marathi"}
set2={"Tamil","French","English","Hindi"}
set8=set1.issubset(set2)
print("Output of is subset:-->",set8)
#intersection_update()
set1={"English","Hindi", "Marathi"}
set2={"Tamil","French","English","Hindi"}
set1.intersection_update(set2)
print("output of intersection_update:-->",set1)

Output of Union:--> {'English', 'Marathi', 'French', 'Hindi', 'Tamil'}
Output of intersection:--> {'English', 'Hindi'}
Output of Set Difference:--> {'Marathi', 'Hindi'}
{'French', 'Tamil'}
Output of Symmetric Difference:--> {'Marathi', 'French', 'Hindi', 'Tamil'}
Output of is subset:--> False
output of intersection_update:--> {'English', 'Hindi'}

In [14]:
#frozenset : immutable collection of unique elements, but cannot be modified after creation
set1=frozenset([1,2,3,4,100,99,88,65,74,34])
print(set1)

frozenset({1, 2, 3, 100, 4, 99, 65, 34, 74, 88})

In [16]:
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [15]:
dir(frozenset)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [2]:
set_a={1,2,3,4}
set_a.add(5)
print(set_a)

{1, 2, 3, 4, 5}

Converting list into set - it will remove duplicates

In [4]:
list1=[1,2,3,4,5,5,5]
set_1=set(list1)
print(set_1)

{1, 2, 3, 4, 5}