<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/day14Corepython_oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

House plan is a template or a blueprint.
Class is a Template based on which objects can be created.
but houses can have different colors and interirors.
It defines attributes and methods that every object will have.
an object of the class will have all the properties of the class in addition to it it it can have its own properties and attributes and methods.

In [27]:
class person:
  #define the constructor
  def __init__(self,name,age):
    #In constructor the first attribute is self create and initialize the object
    self.name=name
    self.age=age
    #define instance method
  def say_hello(self):
    print(f"Hello my name is {self.name}")
    #lets define another method
  def is_eligible(self):
    if self.age>=18:
      print("You are eligible to vote")
    else:
      print("You are not eligible to vote")

Create Objects based on the class

In [28]:
#create an object of class type person
person1=person("John",25)

In [29]:
type(person1)

__main__.person

In [30]:
#call method
person1.say_hello()

Hello my name is John

In [31]:
person1.is_eligible()

You are eligible to vote

In [32]:
person2=person("Jane",16)

In [33]:
person2.age

16

In [34]:
person2.name

'Jane'

In [35]:
person2.__dict__

{'name': 'Jane', 'age': 16}

In [36]:
dir(person2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'is_eligible',
 'name',
 'say_hello']

Define a Class called student

In [37]:
class student:
  #define a constructor for class student
  def __init__(self,name,marks,course):
    self.name=name
    self.marks=marks
    self.course=course
  #define a method
  def grade(self):
    if self.marks>=70:
      print("A")
    elif self.marks>=60:
      print("B")
    elif self.marks>=50:
      print("second class")
    else:
      print("fail")

In [39]:
s1=student("John",80,"science")

In [40]:
s1.__dict__

{'name': 'John', 'marks': 80, 'course': 'science'}

In [41]:
s2=student("Jane",60,"science")

In [43]:
s1.marks

80

In [44]:
s2.marks

60

In [46]:
s1.name="Thomas"

In [47]:
s1.__dict__

{'name': 'Thomas', 'marks': 80, 'course': 'science'}

Two Important properties of OOP:
1. Inheritance
2. Polymorphism

under Mammals you can have a cats and dogs but they ahve their own peculiar  properties also

In [48]:
#inheritance
class person:
  #define the constructor
  def __init__(self,name,age):
    #In constructor the first attribute is self create and initialize the object
    self.name=name
    self.age=age
    #define instance method
  def say_hello(self):
    print(f"Hello my name is {self.name}")
    #lets define another method
  def is_eligible(self):
    if self.age>=18:
      print("You are eligible to vote")
    else:
      print("You are not eligible to vote")

In [59]:
#derived class
class astronaut(person):
  def __init__(self,name,age,mission):
    super().__init__(name,age)
    self.mission=mission
  def launch_satellite(self):
    print(f"{self.name} is launching a Mission{self.mission}")

In [60]:
astronaut1=astronaut("John",25,"MissionMars")

In [61]:
astronaut2=astronaut("tom",36,"Jupiter")

In [62]:
astronaut1.launch_satellite()

John is launching a MissionMissionMars

In [63]:
#create another derived class of person as dancer
class dancer(person):
  def __init__(self,name,age,style):
    super().__init__(name,age)# it will initialize name and age of the base class
    self.style=style
  def perform(self):
    print(f"{self.name} is performing {self.style} style")
#

In [64]:
dancer1=dancer("Priya",25,"salsa")

In [66]:
dancer1.perform()

Priya is performing salsa style

In [67]:
dancer2=dancer("Priya",25,"Bharatnatyam")

In [68]:
dancer2.perform()

Priya is performing Bharatnatyam style

Private and public variable
private variable is defined using double underscore

In [75]:
class person:
  def __init__(self,name,age):
    self.name=name #public attribute
    self.__age=age #private attribute
  def get_age(self):
    return self.__age

In [76]:
person1=person("John",25)

In [77]:
person1.name

'John'

In [78]:
person1.__age

AttributeError: 'person' object has no attribute '__age'

In [79]:
person1.get_age()

25

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name #public attribute
    self.__age=age #private attribute
  def get_age(self):
    return self.__age
  def set_age(self,age):
    #this function is defined to overwrite the private class
    self.__age=age

In [80]:
person1=person("John",25)

In [81]:
person1.get_age()

25

Polymorphism - consider there are 2 classes and there are 2 seperate students with same name Amit in class.

Same name but they are different in 2 different classes

Sum is an example of Polymorphism

In [82]:
class person:
  def __init__(self,name):
    self.name=name
  def say_hello(self):
    print(f"says Hello my name is {self.name} from parent class")

In [83]:
class astronaut(person):
  def __init__(self,name,mission):
    super().__init__(name)
    self.mission=mission
  def say_hello(self):
    print(f"says Hello my name is {self.name} from child class")

In [85]:
per=person('Tom')

In [86]:
ast=astronaut('John','Mars')

In [88]:
per.say_hello()

says Hello my name is Tom from parent class

In [89]:
ast.say_hello()

says Hello my name is John from child class

**Conclusion of OOPS**
Class is a Template
Objects are created based on templates.
class contain properties/ attributes and methods.
In case of OOps there are 3 main concepts:
1. Encapsulation:all attributes are combined in a single unit called class.it is used for hiding data. those attributes can be defined in a child class. those attributes can be retrieved by using public and private variables. for private variables we can use __
2. Inheritance:has a concept of child and parent class. here the child can retrive all the attributes or has all the attributes of the parent class . in addition to that it can have its own peculiar characteristics
Person-->poet, astronaut
Mammals- whale,cat , dog, person. it has a is a relationship.
3. Polymorphism one fucntion can manifest in different forms
like + can add two numbers when used with intergers and it can concatenate when used with a string

Module,Package,library
1. Module: Collection of Variables, functions and classes. a python file can also be a module that contains variables ,functions or classes. Example: create mymath.py
2. Package:collection of modules. A package is a collection of modules performing different tasks. example: folder structure
3. Library: is a collection of packages. a Library is collection of packages and midules that provides numerable functionality. example numpy. inside pandas we have read_csv package, class DataFrame(), inside dataframe we have attributes like data, index_vals,column names. methods like replace(), join(),concantenate. et all