<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/Day4_Dec22nd_VAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
magic='abracadabra'
print(magic.encode())
#print(magic.decode())
print(magic.lower())
print(magic.capitalize())
print(magic.upper())
#magic.split()

b'abracadabra'
abracadabra
Abracadabra
ABRACADABRA

In [8]:
data='apple,banana,cherry'
print(data.split(','))
print(data.join(','))

['apple', 'banana', 'cherry']
,

In [10]:
#Split function splits up the string based on the delimiter defined and stores the elements individually in a list
name_fruits ="apple,guava,banana,chickoo"
print(name_fruits.split(','))
print(name_fruits.split(',',maxsplit=2))
str_a='a,a,a,a,a,a,a,a,a,a'
print(str_a.split(',',maxsplit=4))

['apple', 'guava', 'banana', 'chickoo']
['apple', 'guava', 'banana,chickoo']
['a', 'a', 'a', 'a', 'a,a,a,a,a,a']

In [ ]:
#join is opposite of split
#here we join an iterable into a string using a delimiter
#iteration can be done on list, string, tuples and dictionary
#iteration cannot be used on sets?

In [11]:
#typecasting
str= input("Enter the strings")
print(str)

Enter the stringsPreeti
Preeti

In [12]:
#by Default input function takes input in string format
# if we want to change the format we have to give the format of our desired manner
str1= int(input("Enter the marks of the student"))
str2=float(input("Enter the marks of the student"))
print(str1)
print(str2)

Enter the marks of the student10
Enter the marks of the student22
10
22.0

In [15]:
marks=int(input("Enter the marks of the student"))
if marks>=90:
 print(f'{marks}is greater than 35:passed')
else:
  print(f'{marks}:failed')

Enter the marks of the student99
99is greater than 35:passed

In [16]:
title= input('Enter your title')
firstName=input('Enter your first name')
lastName=input('Enter your last name')
aname=f'{title}.{firstName}.{lastName}'
print(aname)
bname=f'{title}.{firstName[0]}.{lastName}'
print(bname)
print(f'{title} {firstName} {lastName}')

Enter your titleDr
Enter your first namePreeti
Enter your last nameR
Dr.Preeti.R
Dr.P.R
Dr Preeti R

#special Characters

| Data Type    | Mutability | Description                                                               |
|--------------|------------|---------------------------------------------------------------------------|
| `string`     | Immutable  | Cannot be changed after creation. New string objects are created for modifications. |
| `list`       | Mutable    | Can be changed after creation (elements can be added, removed, or modified). |
| `tuple`      | Immutable  | Cannot be changed after creation. Elements are fixed.                     |
| `set`        | Mutable    | Can be changed after creation (elements can be added or removed).         |
| `dictionary` | Mutable    | Can be changed after creation (keys and values can be added, removed, or modified). |