<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#while loop
i=0
while(i<10):
  i=i+1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
#while with break
i=0
while True:
  i=i+1
  print(i)
  if(i==5):
    print("we have reached half way")
  if(i==10):
    break

1
2
3
4
5
we have reached half way
6
7
8
9
10

In [10]:
i=0
while True:
  print("hi")
  i=i+1
  print(i)
  if i==5:
    break

hi
1
hi
2
hi
3
hi
4
hi
5

In [11]:
#with Continue
i=0
while True:
    print ("hi")
    i=i+1
    print(i)
    if(i==3):
      continue
    i=i+1
    if(i==5):
      break

hi
1
hi
3
hi
4

In [12]:
#pass
# The 'pass' statement is a null operation in Python.
# It does nothing and is used as a placeholder where a statement is syntactically required
# but you do not want any command or code to execute.

# Example 1: Function definition
def my_function():
    pass # This function does nothing yet

my_function()
print("Function called, nothing happened.")

# Example 2: Loop
for i in range(3):
    if i == 1:
        pass # Do nothing when i is 1
    else:
        print(f"Current value: {i}")

# Example 3: Class definition
class MyEmptyClass:
    pass # This class has no methods or attributes yet

obj = MyEmptyClass()
print("Empty class object created.")

Function called, nothing happened.
Current value: 0
Current value: 2
Empty class object created.

In [16]:
i = int(input("Enter the value of i:"))
if i>10:
  print('Greater than 10')
elif i>=5 and i<10:
  print('Mid range')
else:
  print('Low Range')

Enter the value of i5
Mid range

In [17]:
#range Function()
for i in range(5):
  print(i)

0
1
2
3
4

In [19]:
#range function Example
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [18]:
#range Function Example
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [20]:
for i in range(1,10,3):
  print(i)

1
4
7

In [21]:
#examples of Range Function
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
#example of range function
for i in range(5,10,2):
  print(i)

5
7
9

In [26]:
#examples of Enum
enum=enumerate(['a','b','c'])
print(list(enum))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [29]:
from typing_extensions import Concatenate
#functions in Enum
enum=enumerate(['Complete','In-Progress','Not started'])
print(list(enum))
enum1=enumerate(['a','b','c'])
print(list(enum1))

[(0, 'Complete'), (1, 'In-Progress'), (2, 'Not started')]
[(0, 'a'), (1, 'b'), (2, 'c')]
[(0, 'a'), (1, 'b'), (2, 'c')]

### Question 1: Basic Enumeration

Given a list of fruits: `fruits = ['apple', 'banana', 'cherry', 'date']`

Write a Python program using `enumerate` to print each fruit along with its index, in the format: `Index: X, Fruit: Y`

In [38]:
fruit1 =enumerate(['apple', 'banana', 'cherry', 'date'])
#print(list(fruit1))
for index,fruit in enumerate(fruit1):
  print(f"Index:{index}, Fruits:{fruit}")

Index:0, Fruits:(0, 'apple')
Index:1, Fruits:(1, 'banana')
Index:2, Fruits:(2, 'cherry')
Index:3, Fruits:(3, 'date')

In [39]:
fruits = ['apple','banana','cherry','date']
for index,fruit in enumerate(fruits):
  print(f"Index:{index}, Fruits:{fruit}")

Index:0, Fruits:apple
Index:1, Fruits:banana
Index:2, Fruits:cherry
Index:3, Fruits:date

### Question 2: Find Index of a Specific Element

Given a list of names: `names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']`

Write a Python program using `enumerate` to find and print the index of the name 'Charlie'. If 'Charlie' is not found, print a message indicating that.

In [41]:
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
for index ,name in enumerate(names) :
  if(name == 'Charlie'):
    print(f'Charlie is at index {index}')
    break
else:
  print('Charlie not found')

Charlie is at index 2

### Question 3: Enumeration with a Starting Index

Given a list of tasks: `tasks = ['Review code', 'Write documentation', 'Deploy application']`

Write a Python program using `enumerate` to print each task with a starting index of 1 instead of 0, in the format: `Task #X: Y`

In [42]:
tasks = ['Review code', 'Write documentation', 'Deploy application']
for index,task in enumerate(tasks,1):
  print(f"Task #{index}:{task}")

Task #1:Review code
Task #2:Write documentation
Task #3:Deploy application

### Question 4: Filter Elements Based on Index

Given a list of numbers: `numbers = [10, 25, 30, 45, 50, 65, 70]`

Write a Python program using `enumerate` to create a new list containing only those numbers that are at an *even* index. Print the new list.

In [45]:
numbers = [10, 25, 30, 45, 50, 65, 70]
even_numbers=[]
odd_numbers=[]
for index,number in enumerate(numbers):
  if(index%2==0):
    even_numbers.append(number)
  else:
    odd_numbers.append(number)
print(even_numbers)
print(odd_numbers)

[10, 30, 50, 70]
[25, 45, 65]

In [25]:
#what is enumerate , Examples of Enum
enum=enumerate(['a','b','c'])
print(list(enum))

[(0, 'a'), (1, 'b'), (2, 'c')]