<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/Nov24_DSandAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#looops
#are used for repeating
a=1
while(a<=10):
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

In [2]:
name="Pree"
print("my name is",name)

my name is Pree

In [7]:
a=1
sum=0
while(a<=10):
  sum=sum+a
  a=a+1
print(sum)

55

In [21]:
#input variable
name = input("Enter the name: ")
print("The name of the user is:",name)

Enter the name: Preeti
The name of the user is: Preeti

In [12]:
a=1
while a<=10:
  print(a)
  a=a+1
  print("The value of a is",a)
  if a==5:
    print("value of a is 5")

1
The value of a is 2
2
The value of a is 3
3
The value of a is 4
4
The value of a is 5
value of a is 5
5
The value of a is 6
6
The value of a is 7
7
The value of a is 8
8
The value of a is 9
9
The value of a is 10
10
The value of a is 11

In [16]:
#for loop is used to iterate list,tuple and string
#range takes the start,end and optional stepdiff(optional)
#end value will stop the value at n-1, for example if you gave 10, it will stop at 9
#by default the step difference is 1, however if you want to change it, you can increase/decrease it
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
num1=int(input("Enter the first number"))
num2=int(input("Enter the second number"))
sum=num1+num2
print(sum)

Enter the first number1
Enter the second number2
3

In [36]:
for x in range(1,8):
  print("*"*x)

*
**
***
****
*****
******
*******

In [25]:
num1=input("Enter the first number")
num2=input("Enter the second number")
sum=num1+num2
print(sum)

Enter the first number1
Enter the second number2
12

In [18]:
#if starting parameter is not mentioned in range it starts from 0
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [55]:
#while loop
i = 1
while i <= 5:
 print(i)
 i += 1

1
2
3
4
5

In [19]:
data=[11,1,2,45,56,78,55,10]
sum=0
for i in data:
 sum=sum+i
 print(sum)
 #using i gives the element at that place

11
12
14
59
115
193
248
258

In [58]:
attempt=0
password="HelloHi"
userpwd=input("Enter the password")
while(attempt<3):
  if(userpwd==password):
    print("Access granted")
  else:
    print("Access denied")
    attempt=attempt+1
if(attempt==3):
  print("No attempts remaining,contact your admin!")

Enter the password1
Access denied
Access denied
Access denied
No attempts remaining,contact your admin!

Here's a corrected version of your code, addressing the logic errors:

In [ ]:
attempt = 0
password = "pree"
max_attempts = 3

while attempt < max_attempts:
    userpwd = input("Enter the password: ")
    if userpwd == password:
        print("Access successful!")
        break # Exit the loop on successful login
    else:
        print("Access denied!")
        attempt += 1 # Increment attempt only on failure
        if attempt < max_attempts:
            print(f"You have {max_attempts - attempt} attempts remaining.")
        else:
            print("You have reached the limit. Account locked.")

# This 'else' block for the while loop executes if the loop finishes without a 'break'
# meaning all attempts were exhausted.
else:
    if attempt == max_attempts:
        print("No attempts remaining. Please contact support.")

In [20]:
for x in range(2,22,2):
  print(x)

2
4
6
8
10
12
14
16
18
20

In [31]:
sp=int(input("Enter the starting point"))
ep=int(input("Enter the ending point"))
step=int(input("Enter the step difference"))
if(sp>ep):
  print("Invalid input")
else:
 for i in range(sp,ep,step):
  print(i)

Enter the starting point2
Enter the ending point1
Enter the step difference1
Invalid input

In [37]:
for x in range(2,22,2):
  print("*"*x)

**
****
******
********
**********
************
**************
****************
******************
********************

In [38]:
for x in range(7,0,-1):
  print("*"*x)

*******
******
*****
****
***
**
*

In [41]:
sp=int(input("Enter the starting point"))
ep=int(input("Enter the ending point"))
step=int(input("Enter the step difference"))
for i in range(sp,ep):
  if i%7==0:
   print("number is divisible by 7",i)

Enter the starting point1
Enter the ending point8
Enter the step difference1
number is divisible by 7 7

In [46]:
for x in range(1,6):
  print(" "*(6-x),end=" ")
  print("* "*x)

      *
     * *
    * * *
   * * * *
  * * * * *

In [49]:
data="water"
for i in data:
 print(i)

w
a
t
e
r