<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/RangeandEnums.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Range Function
#it generates a list of elements given in a list
#range(start,stop,step=1)
#Range can be typecasted in tuple and list

In [2]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [5]:
print(range(10))
print(list(range(10)))
print(tuple(range(10)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
#looping through Range
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
itr =0
while(itr<=10):
 print(itr)
 itr =itr+2

0
2
4
6
8
10

In [9]:
#pass Control Statement
for i in range(10):
  if(i<=5):
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

#Enumerate
creates an object with index and value
tuple/list/dictionary

In [10]:
#Enumerate
for i in enumerate(range(10)):
  print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)

In [15]:
Lstname=['Asha','Lata','Usha','Nisha','Hridaynath']
for k,v in enumerate(Lstname):
  print(f'Key:{k},Value:{v}')

Key:0,Value:Asha
Key:1,Value:Lata
Key:2,Value:Usha
Key:3,Value:Nisha
Key:4,Value:Hridaynath

In [16]:
#enum can be typecasted in a list, tuple and dictionary
print(list(enumerate(Lstname)))
print(tuple(enumerate(Lstname)))
print(dict(enumerate(Lstname)))

[(0, 'Asha'), (1, 'Lata'), (2, 'Usha'), (3, 'Nisha'), (4, 'Hridaynath')]
((0, 'Asha'), (1, 'Lata'), (2, 'Usha'), (3, 'Nisha'), (4, 'Hridaynath'))
{0: 'Asha', 1: 'Lata', 2: 'Usha', 3: 'Nisha', 4: 'Hridaynath'}

In [22]:
#how to loop through a tuple using
#1.Range
#2.Enumerate
newtuple =(1,2,3,4,5)
for i in range(len(newtuple)):
  print(f'Index:{i},Value:{newtuple[i]}')

Index:0,Value:1
Index:1,Value:2
Index:2,Value:3
Index:3,Value:4
Index:4,Value:5

In [24]:
#looping through Enum
Lstname=['Asha','Lata','Usha','Nisha','Hridaynath']
for i in enumerate(Lstname):
  print(f'Index:{i[0]},Value:{i[1]}')

Index:0,Value:Asha
Index:1,Value:Lata
Index:2,Value:Usha
Index:3,Value:Nisha
Index:4,Value:Hridaynath

### Problem 1: Right-angled Triangle Pattern

**Goal**: Print a right-angled triangle pattern using asterisks, where each row has one more asterisk than the previous one.

**Example for `n = 5`:**
```
*
**
***
****
*****
```

In [11]:
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [ ]:
# Python code for Right-angled Triangle Pattern
def print_right_triangle(n):
    for i in range(1, n + 1):
        print("*" * i)

print_right_triangle(5)

### Problem 2: Inverted Right-angled Triangle Pattern

**Goal**: Print an inverted right-angled triangle pattern using asterisks, where each row has one less asterisk than the previous one.

**Example for `n = 5`:**
```
*****
****
***
**
*
```

In [18]:
def print_inverted_triangle(n):
  for i in range(n,0,-1):
    print("*" * i)
print_inverted_triangle(5)

*****
****
***
**
*

In [ ]:
# Python code for Inverted Right-angled Triangle Pattern
def print_inverted_right_triangle(n):
    for i in range(n, 0, -1):
        print("*" * i)

print_inverted_right_triangle(5)

### Problem 3: Pyramid Pattern

**Goal**: Print a pyramid (equilateral triangle) pattern using asterisks.

**Example for `n = 5`:**
```
    *
   ***
  *****
 *******
*********
```

In [ ]:
# Python code for Pyramid Pattern
def print_pyramid(n):
    for i in range(1, n + 1):
        # Print spaces
        print(" " * (n - i), end="")
        # Print asterisks
        print("*" * (2 * i - 1))

print_pyramid(5)

### Problem 4: Diamond Pattern

**Goal**: Print a diamond pattern using asterisks.

**Example for `n = 5` (number of rows for the top half):**
```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [ ]:
# Python code for Diamond Pattern
def print_diamond(n):
    # Upper half of the diamond
    for i in range(1, n + 1):
        print(" " * (n - i) + "*" * (2 * i - 1))

    # Lower half of the diamond
    for i in range(n - 1, 0, -1):
        print(" " * (n - i) + "*" * (2 * i - 1))

print_diamond(5)