<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/Strings_0311.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
password="ExcelR@123"
print(password.find("12"))

7

In [3]:
date ="2017-10-20"
date_comps = date.split("-")
print(date_comps)
#dd/mm/yy
#yyyy,mm,dd
date_comps.reverse()
print(date_comps)
date_dd_mm_yy= '/'.join(date_comps)
print(date_dd_mm_yy)

['2017', '10', '20']
['20', '10', '2017']
20/10/2017

In [7]:
date ="2017-10-20"
date_comps = date.split("-")
print(date_comps)
'/'.join([date_comps[2],date_comps[1],date_comps[0]])

['2017', '10', '20']

'20/10/2017'

In [20]:
#Special Characters
#\n
#\t
#\s
#gives next line
print('hello\nworld')
#gives a tab
print("hello\tworld")
#gives a space
print("hello\sworld")
#raw string
#if you use r it means dont consider any special characters that are mentioned in the string
print (r"hello\nworld")
#gives a double tab
print("hello\\world")
print("hello World's how are you")
# this will give an error print('hello World's how are you'')
print("hello World\'s how are you")
#print("hello\sworld")
time ="13:30"
num1=1
num2=2
print(f"num1 is {num1} and num2 is {num2}")
print(f"sum of {num1} and {num2} is {num1+num2}")
print(f'the time is {time}')


#\' - Single Quote
#\\ - Backslash
#\n - New Line
#\r - Carriage Return
#\t - Tab
#\b - Backspace
#\f - Form Feed
#\ooo - Octal value
#\xhh - Hex value
#\S-space

hello
world
hello	world
hello\sworld
hello\nworld
hello\world
hello World's how are you
hello World's how are you
num1 is 1 and num2 is 2
sum of 1 and 2 is 3
the time is 13:30

<>:10: SyntaxWarning: invalid escape sequence '\s'
<>:10: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-462716915.py:10: SyntaxWarning: invalid escape sequence '\s'
  print("hello\sworld")

Input Function - used to get an input from the user. The value of the input always gets converted into a string. so the default datatype for input is string

In [22]:
name = input("Enter your name")
print(name)
print(f'User name is {name}')

Enter your namePreeti
Preeti
user name is Preeti

In [29]:
age = input("Enter your age")
print(age)
print(f'User age is {age} and the data type is {type(age)}')
#As the inputs datatype is always string you will have to type cast this into an int first before you perform Typecasting, i.e convert this into int!
age_new = int( input("Enter your age"))
print(age_new)
print(f'User currrent age is {age} and your age next year is {age_new+1}')

Enter your age10
10
User age is 10 and the data type is <class 'str'>
Enter your age10
10
User currrent age is 10 and your age next year is 11



1. Lists is an important datatype
2. List is a mutable datatype
3. it holds heterogeneous data
4. it starts with a square bracket
5. like strings list can be sliced and indexed

In [32]:
list1 =[1,"sir",2,2.5,3]
print(list1)
#define a list of Numbers
listnum=[1,1.5,2,2.5]
print(listnum)
listnum1

[1, 'sir', 2, 2.5, 3]
[1, 1.5, 2, 2.5]

In [39]:
#list Functions
list1=[1,1.0,1.5,2,2.5]
print(list1[0])
print(list1[1:3])
print(list1[-1])
print(list1[::-1])
print(min(list1))
print(max(list1))
#Repition and Concatenation
list2=[1,'a']
list3=[2,'b']
print(f"list2 is repeated Twice",list2*3)
print(f"List 1 and list2 are concatenated",list2+list3)

1
[1.0, 1.5]
2.5
[2.5, 2, 1.5, 1.0, 1]
1
2.5
list2 is repeated Twice [1, 'a', 1, 'a', 1, 'a']
List 1 and list2 are concatenated [1, 'a', 2, 'b']
[1, 1.0, 1.5, 2, 2.5, 3]

In [46]:
#Lists are appendable
#append
list1.append(3)
print(list1)
list1.append('c')
print(list1)
list1.append([1,2])
print(list1)
#pull 2 from inner list
print(list1[-1][1])
list1.append([1,2,3,4])
print(list1[-2][1])
print(list1[-1][2])

[1, 1.0, 1.5, 2, 2.5, 3, 3, 3, 3, 'c', 3, 'c', [1, 2], 3, 'c', [1, 2], 3, 'c', [1, 2], [1, 2, 3, 4], 3]
[1, 1.0, 1.5, 2, 2.5, 3, 3, 3, 3, 'c', 3, 'c', [1, 2], 3, 'c', [1, 2], 3, 'c', [1, 2], [1, 2, 3, 4], 3, 'c']
[1, 1.0, 1.5, 2, 2.5, 3, 3, 3, 3, 'c', 3, 'c', [1, 2], 3, 'c', [1, 2], 3, 'c', [1, 2], [1, 2, 3, 4], 3, 'c', [1, 2]]
2
2
3

In [49]:
List= ['I','am','rich']
words= ' '.join(List)
print(words)

I am rich