<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuple
Tuples aare a datatype

1. they are read -only
2. they are immutable
3. ()
4. Heterogeneous data type
5. You cant add, update, delete
6. only Index ,Count and Find




 #List
 It anticipates that,there will be List Modification Operation so for a list it allocates more space

In [1]:
Tuple1=(1,2,3,4,5)
print(Tuple1)

(1, 2, 3, 4, 5)

In [14]:
tuple2=("a","b","c","d","hello",1.3,1,2,3,4,5,2,2,3,4,5,(1,2,3))
print(tuple2)

('a', 'b', 'c', 'd', 'hello', 1.3, 1, 2, 3, 4, 5, 2, 2, 3, 4, 5, (1, 2, 3))

In [15]:
for i in tuple2:
  print(i)

a
b
c
d
hello
1.3
1
2
3
4
5
2
2
3
4
5
(1, 2, 3)

In [16]:
tupleaslist=list(tuple2)
print(tupleaslist)

['a', 'b', 'c', 'd', 'hello', 1.3, 1, 2, 3, 4, 5, 2, 2, 3, 4, 5, (1, 2, 3)]

In [17]:
#Count in Tuple
print(tuple2.count(2))

3

In [18]:
#find in tuple
print(tuple2.index(2))

7

In [20]:
#index in Tuple
print(tuple2.index("hello"))

4

In [21]:
#slicing in Tuple
print(tuple2[0:5])

('a', 'b', 'c', 'd', 'hello')

In [19]:
#add in Tuple
tuple2.append(6)

AttributeError: 'tuple' object has no attribute 'append'