<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/VAC_Dec01_AI%26DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#list is identified by []
#duplicate values are allowed
##heterogeneous datatype
data=[12,"Python",500,76.56, True]
data2=[12,12,121,121,12]
print(type(data))
print(type(data2))
print(data,data2)
#list is associated, starting from index 0
#indexing #Slicing #NEgative

<class 'list'>
<class 'list'>
[12, 'Python', 500, 76.56, True] [12, 12, 121, 121, 12]

In [3]:
#ordered
data=["Apple","Cherry","Lime","Pineapple","Jackfruit","Kiwi","Dragon"]
print("First Element",data[0])
print("Last Element",data[-1])
print("2 to 6 element",data[1:6])
print("reversed",data[::-1])

First Element Apple
Last Element Dragon
2 to 6 element ['Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi']
reversed ['Dragon', 'Kiwi', 'Jackfruit', 'Pineapple', 'Lime', 'Cherry', 'Apple']

In [4]:
#append
data=["Apple","Cherry","Lime","Pineapple","Jackfruit","Kiwi","Dragon"]
print(data)
data.append("Mango")
print(data)
data.append("Orange")
print(data)
print("P--->",data[2])
print("D--->",data[5][0])
print(data)

['Apple', 'Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi', 'Dragon']
['Apple', 'Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi', 'Dragon', 'Mango']
['Apple', 'Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi', 'Dragon', 'Mango', 'Orange']
P---> Lime
D---> K
['Apple', 'Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi', 'Dragon', 'Mango', 'Orange']

In [ ]:
#insert , it inserts data based on the user defined index, this takes 2 values, the value that you want o insert and the position
data=["Apple","Cherry","Lime","Pineapple","Jackfruit","Kiwi","Dragon"]
print(data)
data.insert(1,"Mango")
print(data)
data.insert(3,"Orange")
print(data)

In [5]:
#remove- elements can be deleted from random position. if the element is not present it will throw an erro. this method will delete the elemets by value
data=["Apple","Cherry","Lime","Pineapple","Jackfruit","Kiwi","Dragon"]
print(data)
data.remove("Apple")
print(data)
data.remove("Kiwi")
print(data)
data.remove("grapes")

['Apple', 'Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi', 'Dragon']
['Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi', 'Dragon']
['Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Dragon']

ValueError: list.remove(x): x not in list

In [6]:
#pop will remove the last element by default or we can delete the element by the index value
data=["Apple","Cherry","Lime","Pineapple","Jackfruit","Kiwi","Dragon"]
print(data)
data.pop()
print(data)
data.pop(2)
print(data)

['Apple', 'Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi', 'Dragon']
['Apple', 'Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi']
['Apple', 'Cherry', 'Pineapple', 'Jackfruit', 'Kiwi']

In [9]:
#clear
# it will Remove all the elements from the list and the result will be an empty list
data=["Apple","Cherry","Lime","Pineapple","Jackfruit","Kiwi","Dragon"]
print(data)
data.clear()
print(data)
data.append("Grapes")
print(data)

['Apple', 'Cherry', 'Lime', 'Pineapple', 'Jackfruit', 'Kiwi', 'Dragon']
[]
['Grapes']

In [10]:
#CLEAR
data =[ 'html', 'css', 'javascipt', 'english', 'math', 'stats']
print(data)
data.clear()
print("EMPTY LIST",data)
data.append("Python")
print(data)
data.append("Java")
print(data)

['html', 'css', 'javascipt', 'english', 'math', 'stats']
EMPTY LIST []
['Python']
['Python', 'Java']

In [12]:
#del Keyword
data =[ 'html', 'css', 'javascipt', 'english', 'math', 'stats']
print(data)
print("DELETING THESE THREE ELEMENT --->",data[2:5])
print(data)
del data[2:5]
print(data)

['html', 'css', 'javascipt', 'english', 'math', 'stats']
DELETING THESE THREE ELEMENT ---> ['javascipt', 'english', 'math']
['html', 'css', 'javascipt', 'english', 'math', 'stats']
['html', 'css', 'stats']

In [14]:
#if we delete the variable it means we are not able to call it again
print(data)
#del data delete a variable it self completely
print(data)

['html', 'css', 'stats']
['html', 'css', 'stats']

In [18]:
data=[12,556,787,44,23,2,345,67,84]
print(data)
data.sort()
print("Sorted Asc-->",data)
data.sort(reverse=True)
print("Sorted Desc-->",data)
data.reverse()
print("reverse-->",data)

[12, 556, 787, 44, 23, 2, 345, 67, 84]
Sorted Asc--> [2, 12, 23, 44, 67, 84, 345, 556, 787]
Sorted Desc--> [787, 556, 345, 84, 67, 44, 23, 12, 2]
reverse--> [2, 12, 23, 44, 67, 84, 345, 556, 787]

In [21]:
#tuple
#identified as()
#Duplicate- it has duplicate elements
#ordered- it has ordered data
#Heterogeneous
#immutable

data=(12,"Python",500,76.56, True)
data2=(12,12,121,121,12)
data3="red","blue","green","yellow","white"
data4="green"
data5=12,23,23,45
print(type(data))
print(type(data2))
print(data,data2)
print(data3)
print(data4)
print(data5)
print(data,data2,data3)

<class 'tuple'>
<class 'tuple'>
(12, 'Python', 500, 76.56, True) (12, 12, 121, 121, 12)
('red', 'blue', 'green', 'yellow', 'white')
green
(12, 23, 23, 45)
(12, 'Python', 500, 76.56, True) (12, 12, 121, 121, 12) ('red', 'blue', 'green', 'yellow', 'white')

In [16]:
data=[12,556,787,44,23,2,345,67,84]
print("min-->",min(data))
print("max-->",max(data))
print("sum-->",sum(data))

min--> 2
max--> 787
sum--> 1920

In [ ]:
tuple1=(12,556,787,44,23,2,345,67,84)
print(tuple1)
#odered
print(tuple1[0])
print(tuple1[-1])
print(tuple1[2:6])
print(tuple1[::-1])
#does it mean every element has a fixed location?

In [22]:
data = "Apple","Cherry","Lime","PineApple","Jackfruit","Kiwi","Dragon"
print(data)
data[0]="Green Apple"
print(data)

('Apple', 'Cherry', 'Lime', 'PineApple', 'Jackfruit', 'Kiwi', 'Dragon')

TypeError: 'tuple' object does not support item assignment

In [23]:
data = "Apple","Cherry","Lime","PineApple","Jackfruit","Kiwi","Dragon"
print(data)
#step1 : Convert tuple element to list data
temp = list(data)
print(temp)
#step2 : perform all the modification in your list element
temp[0]="GreenApple"
print(temp)
#step3: reconvert your list to tuple
data = tuple(temp)
print(data)

('Apple', 'Cherry', 'Lime', 'PineApple', 'Jackfruit', 'Kiwi', 'Dragon')
['Apple', 'Cherry', 'Lime', 'PineApple', 'Jackfruit', 'Kiwi', 'Dragon']
['GreenApple', 'Cherry', 'Lime', 'PineApple', 'Jackfruit', 'Kiwi', 'Dragon']
('GreenApple', 'Cherry', 'Lime', 'PineApple', 'Jackfruit', 'Kiwi', 'Dragon')