<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/VAC_NOV24_AI%26DS_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#condition
#If
#nested if if outer block is true then only execute the next one
#if elif multiple condition

In [2]:
#looping Statement
#while
#for
a=1
while a<10:
  print("The value of a is",a)
  a+=1
  print("The new value of a is",a)
print("End of the Loop!")

The value of a is 1
The new value of a is 2
The value of a is 2
The new value of a is 3
The value of a is 3
The new value of a is 4
The value of a is 4
The new value of a is 5
The value of a is 5
The new value of a is 6
The value of a is 6
The new value of a is 7
The value of a is 7
The new value of a is 8
The value of a is 8
The new value of a is 9
The value of a is 9
The new value of a is 10
End of the Loop!

In [3]:
b=10
while(b>=0):
  print("the value of b is",b)
  b-=1
print("End of While Loop!")

the value of b is 10
the value of b is 9
the value of b is 8
the value of b is 7
the value of b is 6
the value of b is 5
the value of b is 4
the value of b is 3
the value of b is 2
the value of b is 1
the value of b is 0
End of While Loop!

In [11]:
c=1
total =0
while c<=10:
  total+=c

  print("The value of a is",c)
  c+=1
  print("The value of total is",total)
print("The value of total is",total)

The value of a is 1
The value of total is 1
The value of a is 2
The value of total is 3
The value of a is 3
The value of total is 6
The value of a is 4
The value of total is 10
The value of a is 5
The value of total is 15
The value of a is 6
The value of total is 21
The value of a is 7
The value of total is 28
The value of a is 8
The value of total is 36
The value of a is 9
The value of total is 45
The value of a is 10
The value of total is 55
The value of total is 55

In [12]:
a="Preeti"
print("User name is",a)

User name is Preeti

In [15]:
#to get the input at runtime we use the input function
a=input("Enter your name: ")
print("User name is",a)

Enter your name: Preeti
User name is Preeti

In [16]:
a=1
while a<=10:
  print("The Value of a",a)
  if a==5:
    print("good morning")
  a+=1
print("Eng of loop")

The Value of a 1
The Value of a 2
The Value of a 3
The Value of a 4
The Value of a 5
good morning
The Value of a 6
The Value of a 7
The Value of a 8
The Value of a 9
The Value of a 10
Eng of loop

In [18]:
a=1
while a<=10:
  print("The Value of a",a)
  if a==5:
    break
  a+=1
print("End of loop")

The Value of a 1
The Value of a 2
The Value of a 3
The Value of a 4
The Value of a 5
End of loop

In [19]:
password="okfine@123"
attempt=0
while(attempt<3):
  #Attempt initial value is 0 condition is true
  userpwd=input("Enter your password")
  if userpwd==password:
    print("Access Granted")
    break
  else:
    print("Wrong Password")
    attempt+=1
  if attempt==3:
    print("Access Denied, Please contact your admin ")

Enter your passwordp
Wrong Password
Enter your passwordo
Wrong Password
Enter your password1
Wrong Password
Access Denied, Please contact your admin

In [20]:
#for loop
#it is used to iterate in string, list and tuple
data=[1,44,53,67,23,78]
for i in data:
  print(i)

1
44
53
67
23
78

In [22]:
data=[1,44,53,67,23,78]
for i in data:
  if i==53:
    break
  print(i)

1
44

In [24]:
data=[1,44,53,67,23,78]
sum=0
for i in data:
  sum=sum+i
  #print(i)
  print(sum)
print("The sum is",sum)

1
45
98
165
188
266
The sum is 266

In [25]:
#range(start,end,stepdiff),end is end-1,stepdiff is optional
for i in range(1,10):
  print(i)
#gives the value from 1 to 9
#if starting parameter is not mention, it will start from 0

1
2
3
4
5
6
7
8
9

In [27]:
for i in range (10):
  print(i)
#gives the value from 1 to 9
#if starting parameter is not mention, it will start from 0

0
1
2
3
4
5
6
7
8
9

In [29]:
for x in range (2,22,2):
 print (x)

2
4
6
8
10
12
14
16
18
20

In [31]:
num1=input("Enter the first number")
num2=input("Enter the second number")
num3=input("Enter the third number")
add=int(num1)+int(num2)+int(num3)
print("The sum of the three numbers is",add)
add1=num1+num2+num3
print("The Concatenation of number is",add1)

Enter the first number2
Enter the second number2
Enter the third number3
The sum of the three numbers is 7
The Concatenation of number is 223

In [32]:
num1="25"
num2="77"
sum=num1+num2
print("Sum",sum)

Sum 2577

In [34]:
startpt=int(input("Enter the starting point"))
endpt=int(input("Enter the ending point"))
for i in range(startpt,endpt+1):
   print(i)

Enter the starting point2
Enter the ending point6
2
3
4
5
6

In [35]:
startpt=int(input("Enter the starting point"))
endpt=int(input("Enter the ending point"))
if(startpt>endpt):
   print("Invalid input")
else:
  for i in range(startpt,endpt+1):
   print(i)

Enter the starting point5
Enter the ending point2
Invalid input

In [36]:
for i in range(1,7):
  print("*"*i)

*
**
***
****
*****
******

In [39]:
for i in range(7,0,-1):
  print("*"*i)

*******
******
*****
****
***
**
*

In [40]:
for i in range(7,0,-1):
  print("* "*i)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [42]:
for i in range (1,100):
  if(i%7==0):
    print("Number is divisible by 7",i)

Number is divisible by 7 7
Number is divisible by 7 14
Number is divisible by 7 21
Number is divisible by 7 28
Number is divisible by 7 35
Number is divisible by 7 42
Number is divisible by 7 49
Number is divisible by 7 56
Number is divisible by 7 63
Number is divisible by 7 70
Number is divisible by 7 77
Number is divisible by 7 84
Number is divisible by 7 91
Number is divisible by 7 98

In [44]:
data="water"
for i in data:
  #print(i,end="")
  print(i)

w
a
t
e
r

In [49]:
for i in range(1,7):
  print(" "*(7-i),end="")
  print("* "*i)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *