<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/VAC_Dec02_DS%26AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Set{}
#Unique, unordered: indexing and slicing cant be done on set because it is unordered
#mutable: only in terms of add or removing the element not for update

data={1,2,3,4}
data.pop()
#pop
data.clear()
print(data)

data1={1,2,3,4}
data2={3,4,5,6}
#discard
data.discard(1)
print(data)

#remove
data.remove(2)
print(data)

set()
set()

KeyError: 2

In [8]:
#del
data1={1,2,3,4}
data2={3,4,5,6}
del data1
print(data1)
print(data2)

NameError: name 'data1' is not defined

In [10]:
#frozen set
#is a set which is immutable where we cannot add or delete element once it is created
#step1:create a tuple of your set element
language=("Hindi","Hindi","English","Marathi")
#removes duplicate elements and the order will not be retained


data={1,2,3,4}
data1=frozenset(data)
print(data1)
data.add([1])

frozenset({1, 2, 3, 4})

TypeError: unhashable type: 'list'

In [ ]:
#dictionary , all keys has to be unique keys but values can be duplicate

In [12]:
data ={"RollNo":123,"name":"farhan","age":34,}
#METHOD NAME  IS SETDEFUALT
data={"ROLLNO":121,"NAME":"FARHAN","AGE":34,"COURSE":"PYTHON"}
print(data)
data.setdefault("COURSE","CANVA")
print(data)
data.setdefault("LOCATION","KERALA")
print(data)
data.update({"LOCATION":"Himachal"})
print(data)

{'ROLLNO': 121, 'NAME': 'FARHAN', 'AGE': 34, 'COURSE': 'PYTHON'}
{'ROLLNO': 121, 'NAME': 'FARHAN', 'AGE': 34, 'COURSE': 'PYTHON'}
{'ROLLNO': 121, 'NAME': 'FARHAN', 'AGE': 34, 'COURSE': 'PYTHON', 'LOCATION': 'KERALA'}
{'ROLLNO': 121, 'NAME': 'FARHAN', 'AGE': 34, 'COURSE': 'PYTHON', 'LOCATION': 'Himachal'}

In [13]:
my_dict = {'apple': 1, 'banana': 2}

# Case 1: Key exists
value1 = my_dict.setdefault('apple', 100)
print(f"After setdefault('apple', 100): my_dict = {my_dict}, returned value = {value1}")

# Case 2: Key does not exist
value2 = my_dict.setdefault('cherry', 3)
print(f"After setdefault('cherry', 3): my_dict = {my_dict}, returned value = {value2}")

# Case 3: Key does not exist, but no default value is provided (defaults to None)
value3 = my_dict.setdefault('grape')
print(f"After setdefault('grape'): my_dict = {my_dict}, returned value = {value3}")

After setdefault('apple', 100): my_dict = {'apple': 1, 'banana': 2}, returned value = 1
After setdefault('cherry', 3): my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}, returned value = 3
After setdefault('grape'): my_dict = {'apple': 1, 'banana': 2, 'cherry': 3, 'grape': None}, returned value = None

In [14]:
# Initialize a dictionary
graph = {}
# Add a key with a default empty list if it doesn't exist
graph.setdefault('A', []).append('B')
graph.setdefault('A', []).append('C')
graph.setdefault('B', []).append('D')
print(graph)
# Output: {'A': ['B', 'C'], 'B': ['D']}

{'A': ['B', 'C'], 'B': ['D']}