<a href="https://colab.research.google.com/github/PreetiRonghe/Datascience/blob/main/VAC_Dec12_DS%26AI_OOPS_Object.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
class student_info():
  def __init__(self,name,age,location,creditamount,pin):
    self.name=name
    self.age=age
    self.location=location
    self.__creditamount=creditamount
    self.__pin=pin
    #2underscores will hide this variables
    def display(self):
      print("Student name is",self.name)
      print("Student age is",self.age)
      print("Student location is",self.location)
      print("Student credit amount is",self.__creditamount)
      print("Student pin is",self.__pin)
  def __del__(self):
      print("Object is destroyed")

In [21]:
d1=student_info("Rahul",22,"Delhi",1000,1234)
print(d1.name)
print(d1.age)
print(d1.location)
#print(d1._student_info__creditamount)
#print(d1._student_info__pin)
#d1.display()

Object is being destroyed
Rahul
22
Delhi

In [22]:
#Name Mangling
#when you are forcefuly trying to access a hidden variable outdide of the class
#syntax objectname.1underscoreclassname2underscore_variablename
print(d1._student_info__creditamount)
print(d1._student_info__pin)

1000
1234

In [7]:
#here object c2 is calling the attributes of the class without using display method

c2=student_info("rahul",22,"delhi")
print(c2.name)
print(c2.age)
print(c2.location)

rahul
22
delhi

In [6]:
c1=student_info("rahul",22,"delhi")
c1.display()
del c1

Student name is rahul
Student age is 22
Student location is delhi
object is being destroyed

In [27]:
#Parent Class
class Apple():
    company_name="Apple_india"
    website="www.apple.com"

    def apple_info(self):
        print("""
        About US:
        Discover the innovative world of Apple
        and shop everything iPhone, iPad, Apple Watch, Mac,
        and Apple TV, plus explore accessories, entertainment and
        expert device support.
        """)

In [25]:
#Child 1 Code2 inheritance
class iphone(Apple):
  def __init__(self,name,model,price,launch_year):
    self.name=name
    self.model=model
    self.price=price
    self.launch_year=launch_year
  def display_info(self):
    print(f"Product Name is {self.name}")
    print(f"Product model is {self.model}")
    print(f"Product price is {self.price}")
    print(f"Product year_launch is {self.launch_year}")

In [26]:
#Child 1 Code3
p1= iphone("iPhone","17Pro",134900.00,2025)
p1.display_info()
p1.apple_info()

Product Name is iPhone
Product model is 17Pro
Product price is 134900.0
Product year_launch is 2025

        About US:
        Discover the innovative world of Apple
        and shop everything iPhone, iPad, Apple Watch, Mac,
        and Apple TV, plus explore accessories, entertainment and
        expert device support.

In [28]:
#Child 2 Code2 inheritance with Products
class Products(Apple):
  def __init__(self,type,name,model,price,launch_year):
    self.type=type
    self.name=name
    self.model=model
    self.price=price
    self.launch_year=launch_year
  def display_info(self):
    print(f"Product Type is {self.type}")
    print(f"Product Name is {self.name}")
    print(f"Product model is {self.model}")
    print(f"Product price is {self.price}")
    print(f"Product year_launch is {self.launch_year}")

In [29]:
#Child 2 Code 3
pr1=Products("Mobile","iPhone","17Pro",134900.00,2025)
pr1.display_info()
pr1.apple_info()

Product Type is Mobile
Product Name is iPhone
Product model is 17Pro
Product price is 134900.0
Product year_launch is 2025

        About US:
        Discover the innovative world of Apple
        and shop everything iPhone, iPad, Apple Watch, Mac,
        and Apple TV, plus explore accessories, entertainment and
        expert device support.

In [36]:
class Person():
  def __init__(self,name,age,gender):
    self.name=name
    self.age=age
    self.gender=gender
  def person_info(self):
    print(f"Person name is {self.name}")
    print(f"Person age is {self.age}")
    print(f"Person gender is {self.gender}")

In [37]:
class Company():
  def __init__(self,name,location,no_of_employees,turnover):
    self.name=name
    self.location=location
    self.no_of_employees=no_of_employees
    self.turnover=turnover
  def company_info(self):
    print(f"Company name is {self.name}")
    print(f"Company location is {self.location}")
    print(f"Company no_of_employees is {self.no_of_employees}")
    print(f"Company turnover is {self.turnover}")

In [64]:
class Employee(Person,Company):
  def __init__(self, person_name, age, gender, company_name, location, no_of_employees, turnover, salary, designation):
    Person.__init__(self, person_name, age, gender)
    Company.__init__(self, company_name, location, no_of_employees, turnover)
    self.salary=salary
    self.designation=designation
  def employee_info(self):
    print(f"Employee salary is {self.salary}")
    print(f"Employee designation is {self.designation}")

In [65]:
e1=Employee("Rohan",24,"MALE", "TATA","MUMBAI",5000,"43K",5000,"DATA SCIENTIST")
e1.person_info()
e1.company_info()
e1.employee_info()

Person name is TATA
Person age is 24
Person gender is MALE
Company name is TATA
Company location is MUMBAI
Company no_of_employees is 5000
Company turnover is 43K
Employee salary is 5000
Employee designation is DATA SCIENTIST

In [44]:
#polymorphism
#len
print(len("Rahul"))
print(len([1,2,3,4,5,6]))
print(len({"name":"Rahul","age":22}))
print(len((1,2,3,4,5,6)))
print(len({1,2,3,4,5,6}))

5
6
2
6
6

In [50]:
class algebra:
  def accounts(self):
    print("output from algebra")

In [51]:
class mathematics(algebra):
  def accounts(self):
    print("output from mathematics")

In [52]:
class geometry(algebra):
  def accounts(self):
    print("output from geometry")

In [49]:
a1=algebra()
a1.accounts()

output from algbra

In [53]:
c1=geometry()
c1.accounts()

output from geometry